body {
   background: #000;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    width: 70%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}
.shoot-box {
    width: 100%;
    margin-bottom: 10px;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 10px;
    color: #fff;
}
.shoot-box h3 {
    padding: 10px;
    border-radius: 50%;
    font-size: 30px;
    height: 30px;
}
.shoot-box #boats {
    background: orange;
}
.shoot-box #scores {
    background: teal;

}

.box {
    width: 23%;
    height: 20vh;
    border: 2px solid rgb(92, 223, 5);
    justify-content: center;
    align-items: center;
    display: flex;
    cursor: pointer;
}
.box .boat {
    width: 100%;
}
.box .noboat {
    width: 50%;
}
.box .boom {
    width: 100px;
    position: absolute;
}
span {
    padding: 10px;
    border-radius: 50%;
}